Source: altos
Section: electronics
Priority: optional
Maintainer: Bdale Garbee <bdale@gag.com>
Uploaders: Keith Packard <keithp@keithp.com>
Build-Depends: asciidoctor,
               ruby-asciidoctor-pdf,
               strip-nondeterminism,
               autoconf,
               automake,
               debhelper (>= 13),
               default-jdk,
	       faketime,
               freetts,
               gawk,
               gcc-arm-none-eabi,
               picolibc-arm-none-eabi,
               graphicsmagick | imagemagick,
               graphviz,
               icnsutils,
               icoutils,
               libbluetooth-dev,
               libelf-dev,
	       libjansson-dev,
	       libjson-c-dev,
               gtk-update-icon-cache,
               libjfreechart-java,
               libreadline-dev,
               librsvg2-bin,
               libtool,
               libusb-1.0-0-dev,
               netpbm,
               nickle,
	       cairo-5c,
               pkg-config,
               shared-mime-info,
               swig
Standards-Version: 4.6.1
Homepage: http://altusmetrum.org/AltOS
Vcs-Git: git://git.gag.com/fw/altos -b debian
Vcs-Browser: http://git.gag.com/?p=fw/altos

Package: altos
Architecture: any
Depends: altos-common,
	 default-jre | java2-runtime,
         freetts,
         libjfreechart-java,
         nickle,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Altus Metrum support software
 Firmware and utilities needed to support high power model rocketry products
 from Altus Metrum.
 .
 See http://altusmetrum.org/ for more information.
 .
 This package contains architecture-specific files.

Package: altos-common
Architecture: all
Depends: altos-jars
Replaces: altusmetrum-themes, slim-altusmetrum
Conflicts: altusmetrum-themes, slim-altusmetrum
Description: Altus Metrum support software
 Firmware and utilities needed to support high power model rocketry products
 from Altus Metrum.
 .
 See http://altusmetrum.org/ for more information.
 .
 This package contains architecture-independent files.

Package: altos-jars
Architecture: all
Description: Altus Metrum support software
 Firmware and utilities needed to support high power model rocketry products
 from Altus Metrum.
 .
 See http://altusmetrum.org/ for more information.
 .
 This package contains Java class library jar files.

Package: altos-mapservice
Architecture: any
Depends: altos-jars
Description: Altus Metrum support software
 Firmware and utilities needed to support high power model rocketry products
 from Altus Metrum.
 .
 See http://altusmetrum.org/ for more information.
 .
 This package contains the map tile server used on maps.altusmetrum.org.

Package: altos-mfg
Architecture: any
Depends: altos
Description: Altus Metrum support software
 Firmware and utilities needed to support high power model rocketry products
 from Altus Metrum.
 .
 See http://altusmetrum.org/ for more information.
 .
 This package contains production test programs and scripts.

